<li id = "<%= dom_id(comment) %>">
  <%= comment.body %>
  <%= link_to "Edit", edit_discussion_comment_path(@discussion, comment), remote: true %>  
  <%= link_to "Delete", discussion_comment_path(@discussion, comment),
                        method: :delete,
                        remote: true,
                        data: { confirm: "Are you sure?" } %>
</li>
