<h1>Home#about</h1>
<p>Find me in app/views/home/about.html.erb</p>
<h2>This will eventually become a project management tool!</h2>
<%= image_tag "https://scontent-sea1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/12246650_10153639897820552_473143303856632027_n.jpg?oh=534205f6a16b271c9903e31634b1df11&oe=5739AA4C", style: "height: 200px;" %>
