<h1 class = "text-lg-center title project-list">all projects (<%= @projects.length %>)</h1>

<% if @projects %>
<div class="row list-all-projects">
  <div class="form-group-lg col-md-6 col-md-offset-3 inner-projects">
    <table class="table table-striped">
      <% @projects.each do |project| %>
        <tr>
          <td class = "text-lg-center"><%= link_to project.title, project_path(project) %></span></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<section class="row pagination-footer">
  <div class="col-md-6 col-md-offset-3 text-lg-center ">
    <%= paginate @projects %>
  </div>
</section>
<% end %>
